/* 
  Import fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@400;500;600;800&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  max-width: 100%;
  font-family: 'Poppins';
  padding: 0 !important;
  margin: 0 !important;
  --color-scroll: #ff6363;
  --color-scroll-hover: #e65959;
  --color-body-bg: #f7f7f7;
  --color-scroll-track: white;
  --color-primary: #D99937;
  --color-side-blur--gradient: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 35%, rgba(247,247,247,0.7457107843137255) 65%, rgba(247,247,247,0.5020133053221288) 85%, rgba(247,247,247,0.1966911764705882) 95%, rgba(247,247,247,0) 100%);
}

header,
footer {
  padding: 0 !important;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-body-bg);
}

body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
  ;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding-top: 5em;
}

footer {
  grid-area: footer;
}

/* width */
body::-webkit-scrollbar {
  width: 0.6em;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--color-scroll);
  -webkit-box-shadow: 0px 5px 10px -2px rgb(0 0 0 / 33%);
  box-shadow: 0px 5px 10px -2px rgb(0 0 0 / 33%);
  transition: background 600ms ease 0s;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-hover);
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

.no-select & input {
  -webkit-touch-callout: auto;
  /* iOS Safari */
  -webkit-user-select: auto;
  /* Safari */
  -khtml-user-select: auto;
  /* Konqueror HTML */
  -moz-user-select: auto;
  /* Old versions of Firefox */
  -ms-user-select: auto;
  /* Internet Explorer/Edge */
  user-select: auto;
}